.wrap {
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header span {
    font-size: 0.9rem;
    font-weight: 500;
}